[Unit]
Description=Chatbot for controlling proxmox systems


[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Necronomicon/
Restart=always
ExecStart=/home/pi/Necronomicon/env/bin/python3 Necronomicon.py
