[Unit]
Description=Chatbot for controlling proxmox systems
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Necronomicon/
Restart=always
ExecStart=/home/pi/Necronomicon/env/bin/python3 Necronomicon.py

[Install]
WantedBy=multi-user.target
