aiohttp
aiosignal
async-timeout
attrs
certifi
cffi
charset-normalizer
discord
discord-webhook
discord.py
frozenlist
idna
install
multidict
proxmoxer
proxmoxmanager
pycparser
PyNaCl
python-dotenv
PyYAML
requests
urllib3
yarl
youtube-dl
